extends layout

// ce fichier servira à la fois pour test rapide et exam

block deco
	link(rel='stylesheet', href='/stylesheets/question.css')
	
block js
	script(type='text/javascript', charset='UTF-8', src='/javascripts/gestion_questions.js')
	
block content
	section#principale
	if (url == '/question')
		- var changement = {title:"Test rapide", retour:"Retour menu"}
	else
		- var changement = {title:"Examen officiel", retour:"Abandon examen"}
	h1#title
		= changement.title
	section#question(ng-controller="questionControleur")
		fieldset
			h2 
				| Domaine : 
				span.domain #{question.domain}
			p
				i Question : #{question.text}
			form(method='POST', action="#{url}/corriger")
				each answer, index in question.answers
					input(type='radio', name="reponse", value="#{index}")
					label(for="#{index}") #{answer}
					br
				input.button#next(type='submit', value='Corriger')
				a#retour.button(href='/tableauBord')
					= changement.retour
	aside
		h2 Statistiques
		p Note courante :
		p#noteCourante
